<!-- Add username for website to _config.yaml and create new loop  -->
{% if site.author.github %}
	<a href="https://github.com/christopherahern" style="text-decoration : none">
                <span class="fa">
                        <i class="fa fa-github-square"></i>
                </span>
        </a>       
{% endif %}

{% if site.author.linkedin %}
	<a href="https://linkedin.com/in/christopherahern" style="text-decoration : none">
                <span class="fa ">
                        <i class="fa fa-linkedin-square"></i>
                </span>
        </a>
{% endif %}

{% if site.author.email %}
	<a href="mailto:christopher.ahern@gmail.com" style="text-decoration : none">
                <span class="fa ">
                        <i class="fa fa-envelope-square"></i>
                </span>
            </a>
{% endif %}


